<div class="wrapper wrapper-full-page">
    <div class="full-page pricing-page" data-image="../assets/img/bg-pricing.jpeg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="description">SU Asset Database Management</h2>
                        <h5 class="description">Access the Current Asset Database or the Recycled Asset Database</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-pricing card-raised">
                            <div class="card-content">
                                <h6 class="category">Asset Database</h6>
                                <div class="icon icon-rose">
                                    <i class="material-icons">add_to_queue</i>
                                </div>
                                <h3 class="card-title">ASSETS</h3>
                                <p class="card-description">
                                    Access the current Asset Database
                                </p>
                                <button type="button" (click)="assetDBClick();" class="btn btn-rose btn-round">GO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-pricing card-raised">
                            <div class="card-content">
                                <h6 class="category">Recycle Database</h6>
                                <div class="icon icon-rose">
                                    <i class="material-icons">delete_forever</i>
                                </div>
                                <h3 class="card-title">RECYCLE</h3>
                                <p class="card-description">
                                    Access the Recycle Database
                                </p>
                                <button type="button" (click)="recycleDBClick()" class="btn btn-rose btn-round">GO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

